<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <h2 id="log-in-title">Cadastro Usuário</h2>
    
    <div class="auth-form well">

      <%= form_for(User.new, url: signup_path) do |f| %>
        <%= f.label 'Login' %>
        <div class="input-group">
          <%= f.text_field :username, class: "form-control"%>
        </div>

        <br>

        <%= f.label 'Senha' %>
        <div class="input-group">
          <%= f.password_field :password, class: "form-control"%>
        </div>

        <div class="actions">
          <%= f.submit "Cadastrar", class: "btn btn-primary" %>
        </div>
      <% end %>
      
    </div>

      <%= render partial: 'layouts/flash_errors'%>
  </div>
</div>
